{% extends 'base.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>My Website a Personal Portfolio Category Bootstrap Responsive Website Template</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-liberty.css' %}">
  </head>
  <body>
<script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149859901-1');
</script>

<script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
     ga('require', 'eventTracker');
     ga('require', 'outboundLinkTracker');
     ga('require', 'urlChangeTracker');
     ga('send', 'pageview');
   </script>
<script async src='/js/autotrack.js'></script>

<meta name="robots" content="noindex">
<body><link rel="stylesheet" href="/assests/css/font-awesome.min.css">
<!-- New toolbar-->
<style>
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


.toggle-right-sidebar span {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: .5;
}
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
/* ============================================================
RIGHT SIDEBAR SECTION
============================================================ */

#right-sidebar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}


/* ============================================================
RIGHT SIDEBAR TOGGLE SECTION
============================================================ */

.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


</style>
<div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">

</div>
</div>
{% endblock content %}

{% block content_2 %}

 <!--  Main banner section -->
 <section class="w3l-main-banner" id="home">
  <div class="companies20-content">
    <div class="companies-wrapper">
        <div class="item">
         
            <div class="slider-info banner-view text-center">
              <div class="banner-info container">
                <img src="{% static 'images/ali2.jpg' %}" alt="about image" class="img-fluid">
                <h3 class="banner-text mt-5">Hello, I'm Ali Zare :)
                  </h3>
                  <p class="my-4 mb-5">Photographer , and Django developer O_O</p><br>
               
              </div>
            </div>
          
        </div>
    </div>
  </div>
</section>
 <!--  //Main banner section -->
 <!---728x90--->

<section class="w3l-about ">
<div class="skills-bars py-5">
 <div class="container py-md-3">
  <div class="heading text-center mx-auto">
    <h3 class="head">Welcome To My Site</h3>
    <p class="my-3 head"> I'm Ali Zare ;
      It's one of my first projects in learning Django . . .</p>
      
    </div>

 </div>
</div>
 </section>
 <!---728x90--->
<section class="w3l-feature-3" id="features">
	<div class="grid top-bottom">
		<div class="container">
			<div class="heading text-center mx-auto">
                <h3 class="head text-white">I'm Available For Hire</h3>
                <p class="my-3 head text-white">technically i don't have enough expriencs to find a job yet 
                  but i will learn :\
                </p>
              </div>
			<div class="middle-section grid-column text-center mt-5 pt-3">
				<div class="three-grids-columns">
					<h4>Programmer</h4>
					<p>Junior python programmer</p>
					
				</div>
				<div class="three-grids-columns">
					<h4>Marketing</h4>
					<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc</p>
					
				</div>
				<div class="three-grids-columns">
					<h4>Photography</h4>
					<p>i just learned photography by myself</p>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!---728x90--->
<div class="products-4" id="portfolio">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center">
        <div class="container">
            <div class="heading text-center mx-auto mb-5">
                <h3 class="head">I Love What I Do</h3>
                <p class="my-3 head">Unfortunatelyi, don't have any special talent but i like programing and photo graphy</p>
              </div>
            <input id="tab1" type="radio" name="tabs" checked>
            <label class="tabtle" for="tab1">Photography</label>

            <input id="tab3" type="radio" name="tabs">
            <label class="tabtle" for="tab3">All Projects</label>

            <input id="tab4" type="radio" name="tabs">


            <section id="content1" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="{% static 'images/aks4.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/aks4.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/aks2.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/aks2.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/aks5.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/aks5.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/aks6.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/aks6.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/aks9.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/aks9.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                       
                    </div>
                    <div class="product">
                        <a href="{% static 'images/aks7.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/aks7.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    
                    
                </div>
            </section>

            <section id="content2" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="{% static 'images/g7.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g7.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g8.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g8.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                       
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g1.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g1.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                       
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g2.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g2.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                       
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g3.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g3.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g4.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g4.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                </div>
            </section>

            <section id="content3" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="{% static 'images/g5.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g5.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                      
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g6.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g6.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                       
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g7.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g7.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                </div>
            </section>

            <section id="content4" class="tab-content text-left">
                <div class="d-grid grid-col-3">
                    <div class="product">
                        <a href="{% static 'images/g8.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g8.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                    <div class="product">
                        <a href="{% static 'images/g1.jpg' %}" data-lightbox="example-set"
                            data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                            <figure>
                                <img src="{% static 'images/g1.jpg' %}" class="img-responsive" alt="" />
                            </figure>
                        </a>
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Products4 block -->
</div>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
<section class="services-12" id="experience">
	<div class="form-12-content">
		<div class="container">
			<div class="grid grid-column-2 ">
					<div class="column2">
            <h3 class="mb-5">Education</h3>
            <div class="experience-top">
              <h5>2010</h5>
              <h4>Graduated</h4>
              <p class="my-3 text-white"> Graduated from Shahid Rahimi highschool in fardis.</p>
              </div>
              <div class="experience-top">
                <h5>2020</h5>
                <h4>Entrance Exam</h4>
                <p class="my-3 text-white">exam rank : 8300 :|||||||||</p>
                </div>
                <div class="experience-top">
                  <h5>now</h5>
                  <h4> Azad Karaj University </h4>
                  <p class="my-3 text-white">and I'm currently studying Computer Engineering in Azad Karaj university.</p>
                  </div>
					</div>
			</div>
		</div>
	</div>
</section>
 
 <!-- grids block 5 -->

{% endblock content_2 %}
<!-- // grids block 5 -->
